body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}

a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  font-family: 'poppins';
}

a:hover {
  color:yellow ;
  text-decoration: none;
 
}
.container{
  width: 1175px;
  margin: auto;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Raleway", sans-serif;
}
.header{
  width: 100%;
  height: 100vh;
  background: url(../assets/wallpaperflare.co22222222m_wallpaper.jpg) top center;
  background-size: cover;
  position: relative;
  
}
.hed{
 position: absolute;
 top: 240px;
 left: 450px; ;
}
.hed h1{
  font-family: 'Poppins';
  color:azure;
  margin-top: -46px;
  margin-left: 86px;
  font-size: 37px;
}
.hed h2{
  font-size: 50px;
  color: #fff;
  font-family: 'Poppins';

}
.hed button{
  width: 100px;
  height: 40px;
  font-family: 'poppins';
  border-radius: 7px;
  border: none;
  color: #fff;
  background-color: #FD6C01;
  margin-left: 180px;
}
.log img:hover{

}
.logo img{
  width: 25%;
  margin-top: -23px;

 
}

.nav{
  display: flex;
  justify-content: space-between;
  position: relative;
}
.navbar ul{
  display: flex;
  text-decoration: none;
}
.navbar ul li{
  padding: 10px 10px;
  list-style: none;
  
}

.ban-im{
  position: absolute;
  top: 90px;
  left: 909px;
  bottom: 100px;

}

.about{
  display: flex;
}
.about-img h1{
  z-index: 9999;
}
.about-img{
  width: 50%;
  
}
.about-img img{
  width: 80%;
}
.about-txt{
  width: 50%;
}
.about-txt h1{
  text-align: center;
  font-size: 38px;
  text-transform: capitalize;
  color: #FD6C01;

}
.about-txt p{
  font-size: 17px;
  font-style: italic;
}
.about-txt h3{
  font-size: 28px;
  color: #FFD02E;
}
.row{
  display: flex;
}
.row li {
  list-style: none;
  font-size: 17px;
  margin-left: -40px;
  padding: 10px;
  font-family: 'Poppins';
}
strong{
  color:#F44702;
}
.skills{
  background-color: #FFFF;
  margin-top: -35px;
}
.skills h1{
  text-align: center;
  font-size: 38px;
  text-transform: capitalize;
  color: #FD6C01;
  padding-top: 20px;



}
.img-sec .images{
  display: flex;
  margin-top: 30px;
}
 .images .img1{
  height:fit-content ;
  width: 20%;
}
.images .img2{
  width: 20%;
  height: fit-content;
}
.img2 h3{
  text-align: center;
}
.img1 h3{
  text-align: center;
}
 .images img{
  width: 100%;
  border-radius: 50%;
  height: fit-content;
}
.images img:hover{
  transform: translateY(-20px);
  transition: all 0.5s ease;
}       
hr{
  width: 90px;
  height: 1px;
  background-color: #FD6C01;
  margin-top: -30px;
  padding: px;
}
.img1{
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }   
}
.img2{
  animation-name: floating;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}
@keyframes floating {
0% { transform: translate(0,  0px); }
50%  { transform: translate(0, 15px); }
100%   { transform: translate(0, -0px); }   
}
.facts-box{
  display: flex;
}
.facts-box .facts{
  width: 25%;
  text-align: center;
}
.facts-head h1{
  text-align: center;
  font-size: 38px;
  text-transform: capitalize;
  color: #FD6C01;
  padding-top: 20px;
}

.facts-head{
  background-color: #ffffE0;
  height: 380px;  
}
.facts{
 border: solid 1px black;
 margin-left: 20px;
 margin-top: 30px;
 border-radius: 7px;

}
.facts:hover{
  transform: rotateY(-360deg);
  transition: all 0.5s ease;
}
.facts-head .fac {
  width: 72px;
    height: 72px;
    background-color:#ffffE0;
    font-size: 30px;
    margin-left: 90px;
    margin-top: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    border-radius: 100%;
    color: #F44702;
}
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #45505b;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #FFD02E;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #F44702;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #f7f8f9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -11px;
  top: 0;
  background: #fff;
  border: 2px solid #FFD02E;
}


