body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}

a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
  font-family: 'poppins';
}

a:hover {
  color:yellow ;
  text-decoration: none;
 
}
.container{
  width: 1175px;
  margin: auto;
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Raleway", sans-serif;
}
.header{
  width: 100%;
  height: 100vh;
  background: url(../assets/banner/1152598.jpg) top center;
  background-size: cover;
  
}
.log img:hover{

}
.logo img{
  width: 25%;
  margin-top: -23px;

 
}

.nav{
  display: flex;
  justify-content: space-between;
  position: relative;
}
.navbar ul{
  display: flex;
  text-decoration: none;
}
.navbar ul li{
  padding: 10px 10px;
  list-style: none;
  
}

.ban-im{
  position: absolute;
  top: 90px;
  left: 909px;
  bottom: 100px;

}

.about{
  display: flex;
}
.about-img h1{
  z-index: 9999;
}
.about-img{
  width: 50%;
  
}
.about-img img{
  width: 80%;
}
.about-txt{
  width: 50%;
}
.row{
  display: flex;
}
